body {

  background-color: #D6E6FA;
  margin:0px;
}


.cover{
  display: flex;
  flex-direction: row;
}
.navigation{
  background-color: #82b6f5;;
  height:100vh;
}
.content {
  display: flex;
  flex-direction: column;

}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}



a:hover{
  background-color: #0f77f7;
}

.picture{


}



.text{
  border:1px solid white;
  border-radius: 100px;
  background: #0f77f7;
  padding:50px;

}

.page{
  flex-direction: column;

}

.about_page{
  display:none;

}

.travel_page{

  display:none;
}


.hacking_page{
  display:none;
}

.kangaroo{

}


.water{

}


.trees{

}


.background_color{
  background-color: #b6d5fa;
}
